/* Variables */

:root {
    --base-hue: 223;
    --background-color: hsla(var(--base-hue), 10%, 87%);
    --shadow-dark-color: hsla(var(--base-hue), 5%, 52%, .7);
    --shadow-light-color: hsla(var(--base-hue), 5%, 98%, .7);
    --header-shadow-inset: inset 0 10px 10px hsla(var(--base-hue), 5%, 52%, .2);
    --footer-shadow: 0 -5px 20px hsla(var(--base-hue), 5%, 52%, .2);
    /* --header-shadow: 0  5px 20px hsla(var(--base-hue), 5%, 52%, .7); */
    --txt-light: hsl(var(--base-hue), 10%, 70%);
    --txt-dark: hsl(var(--base-hue), 15%, 50%);
    --txt-lighter: hsl(var(--base-hue), 5%, 100%);
    --txt-darker: hsl(var(--base-hue), 20%, 50%);
    /* --border-color: var(--shadow-dark-color); */
    --txt-dark-shadow-hover: 0 0 50px hsl(var(--base-hue), 0%, 100%);
    --txt-shadow: 1px 1px 1px hsl(var(--base-hue), 0%, 98%);
    /* INPUT */
    --input-inset: inset 2px 2px 8px var(--shadow-dark-color), inset -5px -7px 15px var(--shadow-light-color);
    --input-inset-focus: inset 2px 2px 1px var(--shadow-dark-color), inset -2px -2px 4px var(--shadow-light-color);
    /* BTN */
    --btn-shadow: 5px 5px 9px hsla(var(--base-hue), 5%, 52%, .4), -4px -4px 12px hsla(var(--base-hue), 5%, 98%, .6);
    --btn-shadow-hover: 3px 3px 5px hsla(var(--base-hue), 5%, 52%, .4), -2px -2px 5px hsla(var(--base-hue), 5%, 98%, .6);
    --btn-inset-active: inset 1px 1px 2px hsla(var(--base-hue), 5%, 52%, .5), inset -1px -1px 2px hsla(var(--base-hue), 5%, 98%, .6);
    /* --btn-shadow-light: -10px -10px 35px hsla(var(--base-hue), 0%, 100%, 0.8), 
                         10px  10px 35px hsla(var(--base-hue), 0%, 0%, 0.8); */
}

/* CSS Reset */

button, 
input, 
optgroup, 
select, 
textarea, 
html input[type="button"], 
input[type="reset"], 
input[type="submit"], 
button[disabled], 
html input[disabled], 
button::-moz-focus-inner, 
input::-moz-focus-inner, 
input[type="checkbox"], 
input[type="radio"], 
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button, 
input[type="search"], 
input[type="search"]::-webkit-search-cancel-button, 
input[type="search"]::-webkit-search-decoration {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

body {
    background-color: var(--background-color);
    color: var(--txt-dark);
    line-height: 1.25;
    letter-spacing: -0.2px;
    font-family: roboto;
}

.hidden {
    display: none;
}

/* Titles */

h1, h2, h3, h4 {
    color: var(--txt-light);
    text-shadow: var(--txt-shadow);
    margin: 1rem;
    user-select: none;
}

/* Text */

p {
    padding: 1rem;
}

/* link */

a {
    text-decoration: none;
    /* color: inherit; */
    color: var(--txt-light);
    text-shadow: var(--txt-shadow);
    font-size: 1.1rem;
    font-weight: 600;
    user-select: none;
}

a:hover {
    color: var(--txt-dark);
    text-shadow: var(--txt-dark-shadow-hover);
}

/* Layout */

.l-container {
    max-width: 1200px;
    margin: auto;
}

header {
    /* border-radius: 0 0 50% 50% ; */
    /* box-shadow: var(--header-shadow); */
}

.header-div {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 50% 50% 0 0;
    box-shadow: var(--header-shadow-inset);
}

.header-div img {
    padding: 1rem;
    margin: 2rem;
    filter: hue-rotate(var(--base-hue)deg);
    filter: brightness(100%);
}

main {
    min-height: calc(100vh - 20rem);
}

footer {
    text-align: center;
    min-height: 5rem;
    width: 100%;
    border-radius: 50% 50% 0 0;
    padding-top: 1rem;
    box-shadow: var(--footer-shadow);
    /* background-color: var(--shadow-dark-color); */
    color: #fff;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    font-size: 1rem;
    /* color: #fff; */
    font-weight: 300;
    margin: 1.5rem .75rem;
}

/* Nav */

.menu {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    color: var(--txt-lighter);
    text-transform: uppercase;
    min-height: 5rem;
}

.logo {
    width: 5rem;
    opacity: .75;
}

.logo:hover {
    opacity: 1;
}

.links a {
    margin: 0 .5rem;
}

.links a:before {
    position: relative;
    margin-right: .25rem;
    bottom: .1rem;
}

.links a:nth-child(1)::before {
    content: "♫";
}

.links a:nth-child(2)::before {
    content: "☺";
}

.links a:nth-child(3)::before {
    content: "☼";
}

/* Btn */

.btn {
    cursor: pointer;
    user-select: none;
    margin: 1rem .5rem;
    color: var(--txt-light);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .09rem;
    padding: .5rem .85rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    box-shadow: var(--btn-shadow);
    text-shadow: var(--txt-shadow);
    background: var(--background-color);
    /* background: linear-gradient(353deg, var(--background-color) 0%, #fff 50%); */
}

.btn:hover {
    box-shadow: var(--btn-shadow-hover);
    letter-spacing: .1rem;
    /* color: var(--txt-dark); */
    /* background: linear-gradient(355deg, var(--background-color) 0%, #fff 100%); */
    /* transition: all 0.5s ease-in-out; */
}

.btn:active {
    box-shadow: var(--btn-inset-active);
    letter-spacing: .1rem;
    /* background: linear-gradient(355deg, #fff 0%, var(--background-color) 100%); */
}

/*************/

/* FORM BASE */

/*************/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 3rem;
    /* max-width: 275px; */
}

form>button {
    width: 100%;
}

/* div COL et ROW */

.form-col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.form-row>.form-col {
    margin: 0 .5rem;
}

/* More */

.form-row p {
    font-size: .85rem;
}

/* Input et Label */

.label {
    font-size: .85rem;
    color: #ccc;
    margin-left: 1rem;
    display: none;
}

.form-input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 1.8rem;
    font-size: 1rem;
    padding: .85rem 1.25rem;
    margin-bottom: 2rem;
    color: var(--txt-dark);
    /* background-color: var(--background-color); */
    background: var(--background-color);
    text-shadow: var(--txt-shadow);
    box-shadow: var(--input-inset);
    transition: all 0.2s ease-in-out;
}

.form-input:focus {
    /* color: var(--txt-dark-hover); */
    box-shadow: var(--input-inset-focus);
    background: var(--background-color);
}

.form-input::placeholder {
    color: var(--txt-light);
}

/* Reset */

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.radio-toolbar label {
    user-select: none;
    cursor: pointer;
    width: fit-content;
    outline: none;
    border: none;
    border-radius: 1.8rem;
    font-size: 1rem;
    padding: .85rem .95rem;
    margin: 0 .3rem 2rem .3rem;
    color: var(--txt-light);
    text-shadow: var(--txt-shadow);
    box-shadow: var(--btn-shadow-hover);
    background: var(--background-color);
    transition: all 0.3s ease-in-out;
}

.radio-toolbar input[type="radio"]:checked+label {
    box-shadow: var(--btn-inset-active);
    color: var(--txt-dark);
}

.radio-toolbar input[type="radio"]:focus+label {
    box-shadow: var(--btn-inset-active);
    color: var(--txt-dark);
}

.radio-toolbar label:hover {
    /* box-shadow: var(--btn-shadow-hover); */
}

/************/

/* CHECKBOX */

/************/

/* Customize the label (the container) */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 30%;
    text-shadow: var(--txt-shadow);
    box-shadow: var(--btn-shadow-hover);
    background: var(--background-color);
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    /* background-color: #2196F3; */
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "#";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.container .checkmark:after {
    content: "x";
    width: 100%;
    top: -2px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 300%;
}